{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block index %}

<style type="text/css">
	.row {
		margin: 0px;
	}
	.card {
		padding: 20px;
	}
</style>

<div class="container">
	<div class="card">
		<div class="row">
			<div class="col">
				<a class="btn btn-small waves-effect waves-light green" href="/hello"><!-- target="_blank" -->
					Hello World
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<br/>
		<form method="post" action="/home">
			<div class="row" style="display: flex;">
				<div class="col" style="display: flex; justify-content: center; align-items: center;">
					<button class="btn btn-small waves-effect waves-light green" type="submit"><!-- target="_blank" -->
						Hello
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="col">
					<div class="col input-field">
						<input id="icon_prefix" type="text" class="validate" name="name">
						<label for="icon_prefix">Name</label>
					</div>
				</div>
			</div>
		</form>
		<br/>
		<div class="row">
			<div class="col">
				<a class="btn btn-small waves-effect waves-light green" href="/tests/database"><!-- target="_blank" -->
					Test Database
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<br/><div class="divider"></div><br/>
		<div class="row">
			<div class="col">
				<a class="btn btn-small waves-effect waves-light green" href="/jeux/taquin" target="_blank">
					Jeu Taquin
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col">
				<a class="btn btn-small waves-effect waves-light green" href="/jeux/jeu-de-la-vie" target="_blank">
					Jeu de la Vie
					<i class="material-icons right">send</i>
				</a>
			</div>
		</div>
		<br/>
		<div class="row" style="display: flex;">
			<div class="col" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
				<p style="margin: 0px;">Game of Life Widget :</p>
				<p style="margin: 0px;"><i>Change the widget type in home.html</i></p>
			</div>
			<div class="col" style="display: flex; justify-content: center; align-items: center;">
				<div id="divGameOfLife" style="width: calc(100px + 10vw); height: 50px; background-color: lightgrey;"></div>
			</div>
			<div class="col" style="display: flex; justify-content: center; align-items: center;">
				<button class="waves-effect waves-light green" onclick="runDraw();">Run/Stop GoL</button>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col">
				<a class="btn btn-small waves-effect waves-light green" onclick="activePointer();">
					Active GoL Wheel Pointer
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block indexscript %}
<!-- <script src="{{ url_for('static', filename='js/gameoflife/guillaume.gameoflife.slider.js') }}" type="text/javascript"></script> -->
<!-- <script src="{{ url_for('static', filename='js/gameoflife/guillaume.gameoflife.slider2.js') }}" type="text/javascript"></script> -->
<!-- <script src="{{ url_for('static', filename='js/gameoflife/guillaume.gameoflife.arrow.js') }}" type="text/javascript"></script> -->
<script src="{{ url_for('static', filename='js/gameoflife/guillaume.gameoflife.arrow2.js') }}" type="text/javascript"></script>
<!-- <script src="{{ url_for('static', filename='js/gameoflife/guillaume.gameoflife.spinningwheel.js') }}" type="text/javascript"></script> -->
<script type="text/javascript">

	function onloadBody() {
		window.onload = loadSlider('divGameOfLife');
		window.addEventListener("resize", function() {
			resizeCanvas();
		});
	}

	var wheelCursorHome = false;
	function activePointer() {
		wheelCursorHome = !wheelCursorHome;
		if (wheelCursorHome) {
			showWheelCursor();
		} else {
			hideWheelCursor();
		}
	}

</script>
{% endblock %}