<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">

    <!-- CSS  -->
    <link href="{{ url_for('static', filename='css/google.material.icons.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.style.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/mycss.css') }}" type="text/css" rel="stylesheet"/>

    <title>{% block title %}Index{% endblock %}</title>


</head>
<body id="body" onload="onloadBody();">

    <!--GAME OF LIFE WHEEL CURSOR-->
    <div id="wheelcursor"></div>
    <style type="text/css">
        #wheelcursor {
            width:  50px;
            height: 50px;
            position: absolute;
            pointer-events: none;
            z-index: 10000;
            /*background-color: white;*/
            /*opacity: 0.7;*/
        }
    </style>
    <script type="text/javascript">
        const cursor = document.getElementById("wheelcursor");
        cursor.style.visibility = 'hidden';
        var showwheelcursor = false;
        document.addEventListener("mousemove", e => {
            if (showwheelcursor) {
                cursor.setAttribute("style", "top: "+(e.pageY-25)+"px; left:"+(e.pageX-25)+"px;");
            }
        });
        function showWheelCursor() {
            showwheelcursor = true;
            cursor.style.visibility = 'visible';
            document.getElementById("body").style.cursor = 'none';
            cursor.setAttribute("style", "top: "+(window.event.clientY-25)+"px; left:"+(window.event.clientX-25)+"px;");
        }
        function hideWheelCursor() {
            showwheelcursor = false;
            cursor.style.visibility = 'hidden';
            document.getElementById("body").style.cursor = 'default';
        }
    </script>

    <!--HEADER-->
    <header>
        <div class="navbar">
            <nav class="green lighten-1" role="navigation">
                <div class="nav-wrapper container">
                    <a href="/home" class="brand-logo">
                        <img src="{{ url_for('static', filename='img/favicon.ico') }}" alt="Logo">
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <!--ALERTS-->
    <div>
        <div class="row" style="position: absolute; width: 100%; z-index: 1000;">
            {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
            {% for msg in success %}
            <div class="row" style="display: flex; justify-content: center; margin: 0px;">
                <div class="alert" style="background-color: #4caf50; padding-left: 10px; padding-right: 10px;">
                    {{ msg }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% with error = get_flashed_messages(category_filter=["error"]) %}
            {% if error %}
            {% for msg in error %}
            <div class="row" style="display: flex; justify-content: center; margin: 0px;">
                <div class="alert" style="background-color: #f44336; padding-left: 10px; padding-right: 10px;">
                    {{ msg }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>



<!--MAIN-->
<main>
    <!--LOCATION OF CHILD PAGES-->
    {% block index %}INDEX CONTENT{% endblock %}
</main>

<!--FOOTER-->
<footer class="page-footer green lighten-1">
    <div class="container center">
        --
    </div>
    <div class="footer-copyright green">
        <div class="container center">
            <a class="black-text" href="/">index</a>
        </div>
    </div>
</footer>

<!-- SCRIPT -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/materialize.script.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/konva.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/gameoflife/guillaume.gameoflife.spinningwheel.js') }}" type="text/javascript"></script>

<!-- override this function to load js after html with window.onload=fct(p); inside -->
<script type="text/javascript">function onloadBody() {}</script>

<script type="text/javascript">
    loadSliderSpinningWheel('wheelcursor');
</script> 

{% block indexscript %}INDEX SCRIPT CONTENT{% endblock %}


</body>
</html>
