
body { margin: 0px; }

.font-large { font-size: calc(14px + 0.7vw); white-space: nowrap; }
.font-medium { font-size: calc(12px + 0.5vw); white-space: nowrap; }
.font-small { font-size: calc(8px + 0.3vw); white-space: nowrap; }
.bold { font-weight:bold; }

.center-content { display: flex; justify-content: center; align-items: center; }
.hide { display: none !important; }


.row { display: flex; }
.row.mh { height: 100%; }
.row.wrap { flex-direction: column; }
.row.swrap { flex-direction: column; }
.row.mwrap { flex-direction: column; }

.row .col { width: auto;  height: auto;}
.row .col.sw1 { width: 10%; }
.row .col.sw2 { width: 20%; }
.row .col.sw3 { width: 30%; }
.row .col.sw4 { width: 40%; }
.row .col.sw5 { width: 50%; }
.row .col.sw6 { width: 60%; }
.row .col.sw7 { width: 70%; }
.row .col.sw8 { width: 80%; }
.row .col.sw9 { width: 90%; }
.row .col.sw10 { width: 100%; }
.row .col.sh1 { height: 10%; }
.row .col.sh2 { height: 20%; }
.row .col.sh3 { height: 30%; }
.row .col.sh4 { height: 40%; }
.row .col.sh5 { height: 50%; }
.row .col.sh6 { height: 60%; }
.row .col.sh7 { height: 70%; }
.row .col.sh8 { height: 80%; }
.row .col.sh9 { height: 90%; }
.row .col.sh10 { height: 100%; }

@media only screen and (min-width: 601px) {
  .row .col.mw1 { width: 10%; }
  .row .col.mw2 { width: 20%; }
  .row .col.mw3 { width: 30%; }
  .row .col.mw4 { width: 40%; }
  .row .col.mw5 { width: 50%; }
  .row .col.mw6 { width: 60%; }
  .row .col.mw7 { width: 70%; }
  .row .col.mw8 { width: 80%; }
  .row .col.mw9 { width: 90%; }
  .row .col.mw10 { width: 100%; }
  .row .col.mh1 { height: 10%; }
  .row .col.mh2 { height: 20%; }
  .row .col.mh3 { height: 30%; }
  .row .col.mh4 { height: 40%; }
  .row .col.mh5 { height: 50%; }
  .row .col.mh6 { height: 60%; }
  .row .col.mh7 { height: 70%; }
  .row .col.mh8 { height: 80%; }
  .row .col.mh9 { height: 90%; }
  .row .col.mh10 { height: 100%; }

  .row.swrap { flex-direction: row; }
}
@media only screen and (min-width: 993px) {
  .row .col.lw1 { width: 10%; }
  .row .col.lw2 { width: 20%; }
  .row .col.lw3 { width: 30%; }
  .row .col.lw4 { width: 40%; }
  .row .col.lw5 { width: 50%; }
  .row .col.lw6 { width: 60%; }
  .row .col.lw7 { width: 70%; }
  .row .col.lw8 { width: 80%; }
  .row .col.lw9 { width: 90%; }
  .row .col.lw10 { width: 100%; }
  .row .col.lh1 { height: 10%; }
  .row .col.lh2 { height: 20%; }
  .row .col.lh3 { height: 30%; }
  .row .col.lh4 { height: 40%; }
  .row .col.lh5 { height: 50%; }
  .row .col.lh6 { height: 60%; }
  .row .col.lh7 { height: 70%; }
  .row .col.lh8 { height: 80%; }
  .row .col.lh9 { height: 90%; }
  .row .col.lh10 { height: 100%; }

  .row.mwrap { flex-direction: row; }
}
@media only screen and (min-width: 1400px) {
  .row .col.xlw1 { width: 10%; }
  .row .col.xlw2 { width: 20%; }
  .row .col.xlw3 { width: 30%; }
  .row .col.xlw4 { width: 40%; }
  .row .col.xlw5 { width: 50%; }
  .row .col.xlw6 { width: 60%; }
  .row .col.xlw7 { width: 70%; }
  .row .col.xlw8 { width: 80%; }
  .row .col.xlw9 { width: 90%; }
  .row .col.xlw10 { width: 100%; }
  .row .col.xlh1 { height: 10%; }
  .row .col.xlh2 { height: 20%; }
  .row .col.xlh3 { height: 30%; }
  .row .col.xlh4 { height: 40%; }
  .row .col.xlh5 { height: 50%; }
  .row .col.xlh6 { height: 60%; }
  .row .col.xlh7 { height: 70%; }
  .row .col.xlh8 { height: 80%; }
  .row .col.xlh9 { height: 90%; }
  .row .col.xlh10 { height: 100%; }

  .row.lwrap { flex-direction: row; }
}

@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down { display: none !important; }
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down { display: none !important; }
}
@media only screen and (min-width: 601px) {
  .hide-on-med-and-up { display: none !important; }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only { display: none !important; }
}
@media only screen and (min-width: 993px) {
  .hide-on-large-only { display: none !important; }
}
@media only screen and (min-width: 1400px) {
  .hide-on-extra-large-only { display: none !important; }
}
@media only screen and (min-width: 1400px) {
  .show-on-extra-large { display: block !important; }
}
@media only screen and (min-width: 993px) {
  .show-on-large { display: block !important; }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium { display: block !important; }
}
@media only screen and (max-width: 600px) {
  .show-on-small { display: block !important; }
}
@media only screen and (min-width: 601px) {
  .show-on-medium-and-up { display: block !important; }
}
@media only screen and (max-width: 992px) {
  .show-on-medium-and-down { display: block !important; }
}
@media only screen and (max-width: 600px) {
  .center-on-small-only { text-align: center; }
}


.card { box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 20px; margin: 10px; padding: 10px; background-color: lightgrey; }
.card:hover { box-shadow: 0 0 10px 0 rgba(0,0,0,0.5); }

input { width: 100%; text-align: center; }

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {  -webkit-appearance: none;  margin: 0;  }

input[type='range'] { -webkit-appearance: none; height: calc(8px + 0.5vw); border-radius: calc(8px + 0.5vw); background-color: white; }
input[type='range']::-webkit-slider-thumb { -webkit-appearance: none; width: calc(8px + 0.5vw); height: calc(8px + 0.5vw); border-radius: calc(8px + 0.5vw); cursor: ew-resize; background: grey; }
input[type='range']:focus { outline-width: 0; }

.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input {  opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider { background-color: grey; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }