/* Custom Stylesheet */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}


/* The flask-flash-alert message box */
.alert {
    border-radius: 25px;
    border: solid 0.1em;
    border-color: black;
    padding-bottom: 4px;
    color: white;
}
.alert .closebtn {
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.alert .closebtn:hover {
    color: black;
}


