<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jeu de la Vie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
	<link href="{{ url_for('static', filename='css/guillaumecss.css') }}" type="text/css" rel="stylesheet"/>

	<style type="text/css">

		.round100  {
			border-radius: 100%;
			outline: none;
		}

		#all-content {
			height: 100vh;
		}
		#colParam {
			flex: 20%;
			border: 1px solid black;
			background-color: #e0e0e0;/*grey lighten-2*/
		}
		#colCanvas {
			flex: 80%;
			overflow: hidden;
			background-color: #e0e0e0;/*grey lighten-2*/
		}

		#switchRunGame {
			border-radius: 20px;
			background-color: #FFFFFF;
			outline: none;
		}

		#noteDiv {
			display:none;
			position: absolute;
			background-color: white;
			border: 2px solid black;
		}

	</style>

	<script src="{{ url_for('static', filename='js/konva.min.js') }}" type="text/javascript"></script>
</head>
<body onload="submitForm(); return false;">
	<div class="row" id="all-content" tabindex="0">
		<div id="colParam">
			<button id="noteButton" type="button" onclick="showNote();">[H] Help</button>
			<div class="card">
				<form onsubmit="submitForm(); return false;">
					<div class="row">
						<div class="col">
							<table>
								<tbody>
									<tr>
										<td><label class="font-medium" for="inputLines">Lines :</label></td>
										<td><input class="font-medium" type="number" name="inputLines" id="inputLines" step="1" min="1" max="500" value="50" style="min-width: 50px;"></td>
									</tr>
									<tr>
										<td><label class="font-medium" for="inputColomns">Colomns :</label></td>
										<td><input class="font-medium" type="number" name="inputColomns" id="inputColomns" step="1" min="1" max="500" value="80" style="min-width: 50px;"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col sw10"></div>
						<div class="col" style="margin-top: 20px;">
							<input class="font-medium" id="inputUpdate" type="submit" value="Update">
						</div>
					</div>
				</form>
				<button id="inputIncreaseGrid" type="button" onclick="increaseGrid_draw();">Increase grid</button><br/>
				<button id="inputDecreaseGrid" type="button" disabled="true">Decrease grid</button>
			</div>
			<div class="card">
				<div  class="row">
					<div class="col">
						<table>
							<thead>
								<div class="font-medium" style="margin-left: 5px;">Vitesse (ms d'intervalle)</div>
							</thead>
							<tbody>
								<tr>
									<td><input class="font-medium round100 bold" type="submit" name="inputSpeedPlus" id="inputSpeedPlus" value="+" onclick="inputSpeedPlus();"></td>
									<td><input class="font-medium" type="number" name="inputSpeed" id="inputSpeed" step="10" min="0" max="2000" value="50" onkeyup="inputSpeed();" 
										style="width: calc(40px + 2vw);"></td>
									<td><input class="font-medium round100 bold" type="submit" name="inputSpeedMinus" id="inputSpeedMinus" value="-" onclick="inputSpeedMinus();"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col">
						<div align="right" style="margin-bottom: 10px;">
							<input class="font-large" id="switchRunGame" type="submit" value="Start" onclick="switchRunGame();">
						</div>
						<input class="font-small" id="nextRound" type="submit" value="Next round" onclick="nextRound();">
					</div>
				</div>
			</div>
			<div class="card" id="cardChoiceGrid">
				<div class="row" style="margin-bottom: 5px;">
					<div class="col">
						<input class="font-small" id="randomGrid" type="submit" value="Random" onclick="randomGrid();">
					</div>
					<div class="col"></div>
					<div class="col">
						<input class="font-medium" id="clearGrid" type="submit" value="Clear" onclick="clearGrid();">
					</div>
				</div>
				<div class="row">
					<label class="font-medium" for="selectGrid" style="margin-right: 5px;">Grid :</label>
					<select class="font-medium" id="selectGrid" name="selectGrid" style="max-width: calc(120px + 5vw);">
						<option value="">Empty</option>
					</select>
				</div>
			</div>
		</div>
		<div id="colCanvas">
			<div id="canvasdiv"></div>
		</div>
	</div>
	<div id='noteDiv' class="card font-large">
		<p><b>P :</b> Switch Run Game</p>
		<p><b>Right :</b> Next Round</p>
		<p><b>Up :</b> Increase Speed</p>
		<p><b>Down :</b> Decrease Speed</p>
	</div>

	<script>

		var isNoteShow = false;
		function showNote(e) {
			if (isNoteShow) {
				document.getElementById("noteDiv").style.display = "none";
				isNoteShow = false;
			} else {
				var x = 0, y = 0;
				if (!e) e = window.event;
				if (e.pageX || e.pageY) { 
					x = e.pageX;
					y = e.pageY;
				} 
				else if (e.clientX || e.clientY) { 
					x = e.clientX + document.body.scrollLeft
					+ document.documentElement.scrollLeft;
					y = e.clientY + document.body.scrollTop
					+ document.documentElement.scrollTop;
				} 
				var noteDiv = document.getElementById("noteDiv");
				noteDiv.style.display = "block";
				noteDiv.style.left = (x+20)+"px";
				noteDiv.style.top = (y)+"px";
				isNoteShow = true;
			}
		}

		var grid;
		var sizeBox = 10;
		var scaleBy = 0.8;
		var stage;
		var layerBackground;
		var layerGrid;
		var gridBlackRect;
		var lastGameArray;
		var run = false;
		var speed = parseInt(document.getElementById('inputSpeed').value, 10);

		var allDiv = document.getElementById("all-content");
		allDiv.addEventListener("keydown", function(event){
			//console.log(event.keyCode);
			switch (event.keyCode) {
				case 72: //H
					isNoteShow = false;
					showNote();
					break;
				case 80: //P
					switchRunGame();
					break;
				case 39: //Right
					if (!run){
						nextRound();
					}
					break;
				case 38: //Up
					inputSpeedPlus();
					break;
				case 40: //Down
					inputSpeedMinus();
					break;
				default: break;
			}
		});
		allDiv.addEventListener("keyup", function(event){
			//console.log(event.keyCode);
			switch (event.keyCode) {
				case 72: //H
					isNoteShow = true;
					showNote();
					break;
				default: break;
			}
		});
		allDiv.focus();

		function submitForm() {
			if (run) { return;}
			grid = {
				x: parseInt(document.getElementById('inputColomns').value, 10),
				y: parseInt(document.getElementById('inputLines').value, 10),
			}
			lastGameArray = [];
			gridBlackRect = [];
		    for (var x = 0; x < grid.x; x++) {
		    	lastGameArray[x] = [];
		    	gridBlackRect[x] = [];
		        for (var y = 0; y < grid.y; y++) {
		            lastGameArray[x][y] = 0;
		            gridBlackRect[x][y] = new Konva.Rect({
						x: x * sizeBox,
						y: y * sizeBox,
						width: sizeBox,
						height: sizeBox,
						fill: 'black',
						stroke: 'black',
						strokeWidth: 0.1,
						strokeEnabled: true,
					});
					gridBlackRect[x][y].visible(false);
		        }
		    }
			initStage();
		}

		function initStage() {
			stage = new Konva.Stage({
				container: 'canvasdiv',
				width: window.innerWidth - document.getElementById("colParam").offsetWidth,
				height: window.innerHeight,
				draggable: true,
			});
			stage.attrs.x = 0;
			stage.attrs.y = 0;

			layerBackground = new Konva.Layer();
			layerGrid = new Konva.Layer();

			/* stage wheel resize event */
			stage.on('wheel', (e) => {
				e.evt.preventDefault();
				var oldScale = stage.scaleX();
				var pointer = stage.getPointerPosition();
				var mousePointTo = {
					x: (pointer.x - stage.x()) / oldScale,
					y: (pointer.y - stage.y()) / oldScale,
				};
				var newScale = e.evt.deltaY > 0 ? oldScale * scaleBy : oldScale / scaleBy;
				stage.scale({ x: newScale, y: newScale });
				var newPos = {
					x: pointer.x - mousePointTo.x * newScale,
					y: pointer.y - mousePointTo.y * newScale,
				};
				stage.position(newPos);
				stage.batchDraw();
			});

			/* pointer click event */
			stage.on('click', function (e) {
		        var clickPos = {
		        	x: (stage.getPointerPosition().x - stage.attrs.x)/stage.scaleX() - gridBlackRect[0][0].x(),
		        	y: (stage.getPointerPosition().y - stage.attrs.y)/stage.scaleY() - gridBlackRect[0][0].y(),
		        }; //console.log('click stage on ' + JSON.stringify(clickPos));
		        if (clickPos.x >= 0 && clickPos.y >= 0 && clickPos.x <= sizeBox*grid.x && clickPos.y <= sizeBox*grid.y) {
					var clickBox = {
			        	x: Math.trunc(clickPos.x * grid.x / (sizeBox * grid.x)),
			        	y: Math.trunc(clickPos.y * grid.y / (sizeBox * grid.y)),
			        }; //console.log('click on ' + JSON.stringify(clickBox));
			        if (!gridBlackRect[clickBox.x][clickBox.y].isVisible()) {
			        	lastGameArray[clickBox.x][clickBox.y] = 1;
			        	gridBlackRect[clickBox.x][clickBox.y].visible(true);

			        } else {
			        	lastGameArray[clickBox.x][clickBox.y] = 0;
			        	gridBlackRect[clickBox.x][clickBox.y].visible(false);
			        }
			        stage.batchDraw(); //console.log("CLICK"); console.log(lastGameArray);
		        } 
		    });

			/* borders & lines*/
			createBackground();

			/* draw rect */
			for (var x = 0; x < grid.x; x++) {
		        for (var y = 0; y < grid.y; y++) {
		        	layerGrid.add(gridBlackRect[x][y]);
		        }
		    }
			stage.add(layerBackground);
			stage.add(layerGrid);

			var newScale = Math.min(
				layerBackground.width() / (sizeBox * grid.x), 
				layerBackground.height() / (sizeBox * grid.y)
			);
			stage.scale({ x: newScale, y: newScale });
			stage.batchDraw();

		}

		function createBackground() {
			layerBackground.destroyChildren();
			var borders = new Konva.Rect({
				x: gridBlackRect[0][0].x(),
				y: gridBlackRect[0][0].y(),
				width: sizeBox * grid.x,
				height: sizeBox * grid.y,
				fill: 'white',
				stroke: 'black',
				strokeWidth: 0.5,
				strokeEnabled: true,
			});
			layerBackground.add(borders);
			for (var x=0; x<grid.x; x++){
				var line = new Konva.Line({
					points: [gridBlackRect[x][0].x(), gridBlackRect[0][0].y(), gridBlackRect[x][0].x(), gridBlackRect[0][grid.y-1].y() + sizeBox],
					stroke: 'black',
					strokeWidth: 0.1,
				});
				layerBackground.add(line);
			}
			for (var y=0; y<grid.y; y++){
				var line = new Konva.Line({
					points: [gridBlackRect[0][0].x(), gridBlackRect[0][y].y(), gridBlackRect[grid.x-1][0].x() + sizeBox, gridBlackRect[0][y].y()],
					stroke: 'black',
					strokeWidth: 0.1,
				});
				layerBackground.add(line);
			}
		}

		function nextRound() {
			for (var x = 0; x < grid.x; x++) {
	            for (var y = 0; y < grid.y; y++) {
	                var nbVoisinesActives = 0;
	                for (var i = -1; i <= 1; i++) {
	                    for (var j = -1; j <= 1; j++) {
	                        if ((i==0 && j==0) || (x+i<0) || (x+i>=grid.x) || (y+j<0) || (y+j>=grid.y)) {
	                            continue;
	                        }
	                        var xx = (x + i + grid.x) % grid.x;
	                        var yy = (y + j + grid.y) % grid.y;
	                        nbVoisinesActives = nbVoisinesActives + lastGameArray[xx][yy];
	                    }
	                }
	                if (lastGameArray[x][y] == 1) {
	                    if (nbVoisinesActives > 3 || nbVoisinesActives < 2) {
	                        gridBlackRect[x][y].visible(false);
	                    }
	                } else {
	                    if (nbVoisinesActives == 3) {
	                    	gridBlackRect[x][y].visible(true);
	                    }
	                }
	            }
	        }
	        for (var x = 0; x < grid.x; x++) {
	            for (var y = 0; y < grid.y; y++) {
	                lastGameArray[x][y] = (gridBlackRect[x][y].isVisible()) ? 1 : 0;
	            }
	        }
	        stage.batchDraw();
		}

		function switchRunGame() {
			if (run) {
				document.getElementById('nextRound').disabled = false;
				document.getElementById('inputUpdate').disabled = false;
				document.getElementById('switchRunGame').value = "Start";
				document.getElementById('switchRunGame').style.backgroundColor = "white";
				document.getElementById('switchRunGame').style.fontSize = "calc(14px + 0.7vw)";
				run = false;
			} else {
				document.getElementById('nextRound').disabled = true;
				document.getElementById('inputUpdate').disabled = true;
				document.getElementById('switchRunGame').value = "Stop";
				document.getElementById('switchRunGame').style.backgroundColor = "green";
				document.getElementById('switchRunGame').style.fontSize = "calc(20px + 0.7vw)";
				run = true;
				gameLoop();
			}
		}
		function gameLoop() {
			if (!run) {
				return;
			}
		    nextRound();
		    setTimeout(gameLoop, speed);
		}

		function inputSpeedPlus() {
			speed -= 25;
			if (speed < 0) { 
				speed = 0;
			}
			document.getElementById('inputSpeed').value = speed;
		}
		function inputSpeedMinus() {
			speed += 25;
			if (speed > 2000) { 
				speed = 2000;
			}
			document.getElementById('inputSpeed').value = speed;
		}
		function inputSpeed() {
			if (event.keyCode == 13) {
				var nspeed = parseInt(document.getElementById('inputSpeed').value, 10);
				if (!isNaN(nspeed)) {
					speed = nspeed;
					if (speed < 0) { 
						speed = 0;
					}
					if (speed > 2000) { 
						speed = 2000;
					} //console.log(speed);
				}
				document.getElementById('inputSpeed').value = speed;
				document.getElementById('inputSpeed').blur(); //remove focus
			}
		}

		function clearGrid() {
			for (var x = 0; x < grid.x; x++) {
		        for (var y = 0; y < grid.y; y++) {
		            lastGameArray[x][y] = 0;
					gridBlackRect[x][y].visible(false);
		        }
		    }
		    stage.batchDraw();
		}
		function randomGrid() {
			for (var x = 0; x < grid.x; x++) {
		        for (var y = 0; y < grid.y; y++) {
		        	if (Math.round(Math.random()) == 0) {
						lastGameArray[x][y] = 0;
						gridBlackRect[x][y].visible(false);
		        	} else {
		        		lastGameArray[x][y] = 1;
						gridBlackRect[x][y].visible(true);
		        	}
		        }
		    }
		    stage.batchDraw();
		}

		var dropboxOpenSelectGrid = false;
		var itemSelectGrid = "";
		document.getElementById('selectGrid').addEventListener("focusout", function() {
			dropboxOpenSelectGrid = false;
		});
		document.getElementById('selectGrid').addEventListener("click", function(event) {
			if (dropboxOpenSelectGrid) {
		        itemSelectGrid = event.target.value; //console.log(itemSelectGrid);
		        if (itemSelectGrid == "") {
		        	console.log("CLEAR");
		        	clearGrid();
		        } else {
		        	loadPattern(itemSelectGrid);
		        }
		    }
		    dropboxOpenSelectGrid = !dropboxOpenSelectGrid;
		});


		var listPatterns = JSON.parse("{{ listPatterns }}".split('&#39;').join('"').split('.rle').join(''));
		var sel = document.getElementById('selectGrid');
		var opt;
		for (var i in listPatterns) {
			opt = document.createElement('option');
			opt.appendChild(document.createTextNode(listPatterns[i]));
			sel.appendChild(opt); //sel.removeChild(sel.options[1]); 
		}

		function loadPattern(pattern) {
			var txt = "";
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function(){
			  if(xmlhttp.status == 200 && xmlhttp.readyState == 4){
			    loadRLE(xmlhttp.responseText)
			  }
			};
			xmlhttp.open("GET", "{{ url_for('static', filename='pattern/gameoflife/') }}" + pattern + ".rle", true);
			xmlhttp.send();
		}

		function loadRLE(file) {
			file = file.split(";");
			file[0] = file[0].split(' ').join('');
			file[1] = file[1].split('\n').join('').split('!').join('').split('$');
			grid = {
				x: file[0].substring(0, file[0].indexOf(",")),
				y: file[0].substring(file[0].indexOf(",") + 1, file[0].length),
			}
			grid.x = parseInt(grid.x.substring(grid.x.indexOf("=") + 1, grid.x.length));
			grid.y = parseInt(grid.y.substring(grid.y.indexOf("=") + 1, grid.y.length));
			document.getElementById('inputColomns').value = grid.x;
			document.getElementById('inputLines').value = grid.y;
			lastGameArray = [];
			gridBlackRect = [];
		    for (var x = 0; x < grid.x; x++) {
		    	lastGameArray[x] = [];
		    	gridBlackRect[x] = [];
		        for (var y = 0; y < grid.y; y++) {
		            lastGameArray[x][y] = 0;
		            gridBlackRect[x][y] = new Konva.Rect({
						x: x * sizeBox,
						y: y * sizeBox,
						width: sizeBox,
						height: sizeBox,
						fill: 'black',
						stroke: 'black',
						strokeWidth: 0.1,
						strokeEnabled: true,
					});
					gridBlackRect[x][y].visible(false);
		        }
		    }
		    var lastChars = "";
		    var xPos = 0;
		    for (var y = 0; y < grid.y; y++) {
		    	for (var c in file[1][y]) {
		    		if (file[1][y][c] == "o") {
		    			if (lastChars == "") {
		    				lastChars = "1";
		    			}
		    			lastChars = parseInt(lastChars);
		    			for (var i=0; i<lastChars; i++) {
		    				gridBlackRect[xPos][y].visible(true);
		    				xPos ++;
		    			}
		    			lastChars = "";
		    			continue;
		    		}
		    		if (file[1][y][c] == "b") {
		    			if (lastChars == "") {
		    				lastChars = "1";
		    			}
		    			lastChars = parseInt(lastChars);
		    			for (var i=0; i<lastChars; i++) {
		    				gridBlackRect[xPos][y].visible(false);
		    				xPos ++;
		    			}
		    			lastChars = "";
		    			continue;
		    		}
		    		lastChars += file[1][y][c];
		    	}
		    	lastChars = "";
		    	xPos = 0;
		    }
			initStage();
			for (var i=0; i<50; i++){
		    	increaseGrid_draw();
		    }
		}


		function increaseGrid() {
			//add two colomns
		    grid.x = grid.x + 2;
		    lastGameArray.unshift([]);
		    gridBlackRect.unshift([]);
		    lastGameArray.push([]);
		    gridBlackRect.push([]);
		    for (var y = 0; y < grid.y; y++) {
		    	lastGameArray[0][y] = 0;
		    	lastGameArray[grid.x-1][y] = 0;
		    	gridBlackRect[0][y] = new Konva.Rect({
		    		x: gridBlackRect[1][y].x() - sizeBox,
		    		y: gridBlackRect[1][y].y(),
		    		width: sizeBox,
		    		height: sizeBox,
		    		fill: 'black',
		    		stroke: 'black',
		    		strokeWidth: 0.1,
		    		strokeEnabled: true,
		    	});
		    	gridBlackRect[0][y].visible(false);
		    	gridBlackRect[grid.x-1][y] = new Konva.Rect({
		    		x: gridBlackRect[grid.x-2][y].x() + sizeBox,
		    		y: gridBlackRect[1][y].y(),
		    		width: sizeBox,
		    		height: sizeBox,
		    		fill: 'black',
		    		stroke: 'black',
		    		strokeWidth: 0.1,
		    		strokeEnabled: true,
		    	});
		    	gridBlackRect[grid.x-1][y].visible(false);
		    	layerGrid.add(gridBlackRect[0][y]);
		    	layerGrid.add(gridBlackRect[grid.x-1][y]);
		    }
		    //add two rows
		    grid.y = grid.y + 2;
		    for (var x = 0; x < grid.x; x++) {
		    	lastGameArray[x].unshift(0);
		    	lastGameArray[x][grid.y-1] = 0;
		    	gridBlackRect[x].unshift(new Konva.Rect({
		    		x: gridBlackRect[x][0].x(),
		    		y: gridBlackRect[x][0].y() - sizeBox,
		    		width: sizeBox,
		    		height: sizeBox,
		    		fill: 'black',
		    		stroke: 'black',
		    		strokeWidth: 0.1,
		    		strokeEnabled: true,
		    	}));
		    	gridBlackRect[x][0].visible(false);
		    	gridBlackRect[x][grid.y-1] = new Konva.Rect({
		    		x: gridBlackRect[x][0].x(),
		    		y: gridBlackRect[x][grid.y-2].y() + sizeBox,
		    		width: sizeBox,
		    		height: sizeBox,
		    		fill: 'black',
		    		stroke: 'black',
		    		strokeWidth: 0.1,
		    		strokeEnabled: true,
		    	});
		    	gridBlackRect[x][grid.y-1].visible(false);
		    	layerGrid.add(gridBlackRect[x][0]);
		    	layerGrid.add(gridBlackRect[x][grid.y-1]);
		    }
		}

		function increaseGrid_draw() {
		    increaseGrid();
		    document.getElementById('inputColomns').value = grid.x;
		    document.getElementById('inputLines').value = grid.y;
		    //recreate the stage
		    createBackground();
			stage.clear();
			stage.add(layerBackground);
			stage.add(layerGrid);
		}


  	</script>
</body>
</html>
