<!DOCTYPE html>
<html lang="en">
<head>
	<title>Taquin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
	<link href="{{ url_for('static', filename='css/guillaumecss.css') }}" type="text/css" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/konva.min.js') }}" type="text/javascript"></script>
</head>
<body id="body" style="height: 100vh;">
	<div class="row mh swrap">
		<div id="left-panel" class="col sw10 mw4 lw3 xlw2" style="display: block; background-color: grey;">
			<div class="row center-content">
				<div class="col sw6 mw10">
					<div class="card" style="background-color: white;">
						<div class="row">
							<div class="col sw10 sh10 center-content">
								<button class="font-large" style="width: 100%; height: 100%;" 
								onclick="initCanvas();">Init</button>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col sw10 sh10">
								<button class="font-large"
								onclick="nbExchanges=0; labelExchanges.innerHTML=nbExchanges; shuffleDraw(0);">Shuffle</button>
							</div>
						</div>
						<div class="row">
							<div class="col sw10 sh10">
								<table>
									<tr>
										<td class="font-medium">Shuffle Draw</td>
										<td>
											<label class="switch">
												<input id="checkboxshuffleDraw" type="checkbox" unchecked>
												<span class="slider round"></span>
											</label>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col font-large">Etat :</div>
							<div id="labelEtat" class="col font-large" 
							style="margin-left: 10px; padding-left: 10px; padding-right: 10px; border-radius: 20px;"></div>
						</div>
						<br/>
						<div class="row">
							<div class="col font-large">Echanges :</div>
							<div id="labelExchanges" class="col font-large" 
							style="margin-left: 10px;"></div>
							<div class="col sw1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="divCanvas" class="col sw10 sh10">
			<div style="position: fixed; z-index: 3; background-color: white;">
				<button onclick="buttonWrapper();">
					<img id="img-button-wrapper" style="width: calc(14px + 0.7vw); height: calc(14px + 0.7vw);">
				</button>
			</div>
			<div id="canvas" style="position: absolute; z-index: 2; background-color: black;"></div>
		</div>
		
	</div>

	<script>

		var imgSrc = "{{ url_for('static', filename='img/taquin/') }}" + "nombres.jpg";
		// var imgSrc = "{{ url_for('static', filename='img/taquin/') }}" + "fleur-de-lotus.jpg";
		var listImgCropped;
		var nbImg = 16;
		var nb = Math.sqrt(nbImg);
		var emptyPosition, dragState = false, imgDrag = false;
		var listIndexTrue, listIndexDraw;

		var leftPanel = document.getElementById("left-panel");
		var divCanvas = document.getElementById("divCanvas");
		var canvas = document.getElementById("canvas");
		var imgButtonWrapper = document.getElementById("img-button-wrapper");
		var imgButtonWrapperSrcOpen = "{{ url_for('static', filename='img/icon/chevron-left-8x.png') }}";
		var imgButtonWrapperSrcClose = "{{ url_for('static', filename='img/icon/chevron-right-8x.png') }}";
		imgButtonWrapper.src = imgButtonWrapperSrcOpen;
		var checkboxshuffleDraw = document.getElementById("checkboxshuffleDraw");
		var labelEtat = document.getElementById("labelEtat");
		var labelExchanges = document.getElementById("labelExchanges");
		var stage, layer;
		var canvasSize, canvasCenter, canvasMinSize;
		var canvasPointerPosition, pointerPosition, lastPointerPosition;

		function buttonWrapper() {
			if (leftPanel.style["display"] == "block") {
				leftPanel.style.display = "none";
				imgButtonWrapper.src = imgButtonWrapperSrcClose;
			} else {
				leftPanel.style.display = "block";
				imgButtonWrapper.src = imgButtonWrapperSrcOpen;
			}
			resizeCanvas();
		}
		window.addEventListener("resize", function() {
			resizeCanvas();
		});
		canvas.oncontextmenu = function(e) { e.preventDefault(); e.stopPropagation(); };
		initCanvas();

		window.addEventListener('keydown', function (e) {
			switch (e.keyCode) {
				case 37 : //left
					exchange("left");
					break;
				case 39 : //right
					exchange("right");
					break;
				case 38 : //up
					exchange("up");
					break;
				case 40 : //down
					exchange("down");
					break;
			}
		});

		function initCanvas() {
			stage = new Konva.Stage({ 
				container: 'canvas',
			});
			layer = new Konva.Layer();
			stage.add(layer);
			canvasPointerPosition = { x: 0, y: 0 };
			pointerPosition = { x: -1, y: -1 };
			lastPointerPosition = { x: -1, y: -1 };

			emptyPosition = { x: nb-1, y: nb-1 };
			labelEtat.innerHTML = "ordonné";
			labelEtat.style["background-color"] = "lightgreen";
			nbExchanges = 0;
			labelExchanges.innerHTML = nbExchanges;

			var globalImg = new Image();
			globalImg.src = imgSrc; 
			globalImg.onload = function() {

				listImgCropped = [];
				listIndexTrue = [];
				listIndexDraw = [];
				var i = 0;
				for (var x=0; x<nb; x++) {
					listImgCropped.push([]);
					listIndexTrue.push([]);
					listIndexDraw.push([]);
					for (var y=0; y<nb; y++) {
						imgBuff = new Konva.Image({ 
							image: globalImg,
							crop: {
								x: x * globalImg.width / nb,
								y: y * globalImg.height / nb,
								width: globalImg.width / nb,
								height: globalImg.height / nb
							},
							stroke: "black",
							draggable:true
						});
						if (x == nb-1 && y == nb-1) {
							imgBuff = new Konva.Rect({
								fill: "white",
								stroke: "black",
								draggable:true
							});
						}
						listImgCropped[x].push(imgBuff);
						layer.add(imgBuff);
						listIndexTrue[x].push(i);
						listIndexDraw[x].push(i);
						i ++;
					}
				}

				resizeCanvas();
			};

			stage.addEventListener('dragmove', function() {
				dragState = true;
				canvasPointerPosition.x = parseInt(stage.getPointerPosition().x);
				canvasPointerPosition.y = parseInt(stage.getPointerPosition().y);
				getPositionPointer();
				// console.log(pointerPosition.x, pointerPosition.y);
				if (pointerPosition.x != -1 && pointerPosition.y != -1) {
					if (!imgDrag) {
						var dragSize = (0.7*canvasMinSize) / nb;
						listImgCropped[pointerPosition.x][pointerPosition.y].width(dragSize);
						listImgCropped[pointerPosition.x][pointerPosition.y].height(dragSize);
						listImgCropped[pointerPosition.x][pointerPosition.y].offsetX(canvasMinSize/2 - (canvasMinSize / nb - dragSize) / 2);
						listImgCropped[pointerPosition.x][pointerPosition.y].offsetY(canvasMinSize/2 - (canvasMinSize / nb - dragSize) / 2);
						listImgCropped[pointerPosition.x][pointerPosition.y].zIndex(15);
						imgDrag = true;
					}
					//FROM WHITE POSITION
					if (lastPointerPosition.x == emptyPosition.x && lastPointerPosition.y == emptyPosition.y 
							&& (Math.max(lastPointerPosition.x, pointerPosition.x)-Math.min(lastPointerPosition.x, pointerPosition.x)) 
							+ (Math.max(lastPointerPosition.y, pointerPosition.y)-Math.min(lastPointerPosition.y, pointerPosition.y)) == 1) {
						var dir = "";
						if (lastPointerPosition.x - pointerPosition.x == 1) {
							dir = "left";
						}
						else if (lastPointerPosition.x - pointerPosition.x == -1) {
							dir = "right";
						}
						else if (lastPointerPosition.y - pointerPosition.y == 1) {
							dir = "up";
						}
						else if (lastPointerPosition.y - pointerPosition.y == -1) {
							dir = "down";
						}
						lastPointerPosition.x = pointerPosition.x;
						lastPointerPosition.y = pointerPosition.y;
						imgDrag = false;
						exchange(dir);
					}
					//FROM IMAGE POSITION
					else if (pointerPosition.x == emptyPosition.x && pointerPosition.y == emptyPosition.y 
							&& (Math.max(lastPointerPosition.x, pointerPosition.x)-Math.min(lastPointerPosition.x, pointerPosition.x)) 
							+ (Math.max(lastPointerPosition.y, pointerPosition.y)-Math.min(lastPointerPosition.y, pointerPosition.y)) == 1) {
						var dir = "";
						if (lastPointerPosition.x - pointerPosition.x == 1) {
							dir = "right";
						}
						else if (lastPointerPosition.x - pointerPosition.x == -1) {
							dir = "left";
						}
						else if (lastPointerPosition.y - pointerPosition.y == 1) {
							dir = "down";
						}
						else if (lastPointerPosition.y - pointerPosition.y == -1) {
							dir = "up";
						}
						lastPointerPosition.x = pointerPosition.x;
						lastPointerPosition.y = pointerPosition.y;
						exchange(dir);
					} 
				}
			});
			stage.addEventListener("mousedown", function(e) {
				canvasPointerPosition.x = parseInt(stage.getPointerPosition().x);
				canvasPointerPosition.y = parseInt(stage.getPointerPosition().y);
				getPositionPointer();
				switch (e.button) {
					case 0 : //left click
						lastPointerPosition = { x: pointerPosition.x, y: pointerPosition.y };
						break;
					case 2 : //right click
						break;
				}
			});
			stage.addEventListener("mouseup", function(e) {
				canvasPointerPosition.x = parseInt(stage.getPointerPosition().x);
				canvasPointerPosition.y = parseInt(stage.getPointerPosition().y);
				getPositionPointer();
				switch (e.button) {
					case 0 : //left click
						if (!dragState && pointerPosition.x != -1 && pointerPosition.y != -1 ){
							if ((Math.max(lastPointerPosition.x, emptyPosition.x)-Math.min(lastPointerPosition.x, emptyPosition.x)) 
										+ (Math.max(lastPointerPosition.y, emptyPosition.y)-Math.min(lastPointerPosition.y, emptyPosition.y)) == 1) {
								var dir = "";
								if (lastPointerPosition.x - emptyPosition.x == 1) {
									dir = "right";
								}
								else if (lastPointerPosition.x - emptyPosition.x == -1) {
									dir = "left";
								}
								else if (lastPointerPosition.y - emptyPosition.y == 1) {
									dir = "down";
								}
								else if (lastPointerPosition.y - emptyPosition.y == -1) {
									dir = "up";
								}
								exchange(dir);
							}
						}
						dragState = false;
						imgDrag = false;
						redrawCanvas();
						break;
					case 2 : //right click
						break;
				}
			});

			stage.on('touchstart', function () {
				canvasPointerPosition.x = parseInt(stage.getPointerPosition().x);
				canvasPointerPosition.y = parseInt(stage.getPointerPosition().y);
				getPositionPointer();
				if (pointerPosition.x != -1 && pointerPosition.y != -1) {
					listImgCropped[pointerPosition.x][pointerPosition.y].zIndex(15);
				}
				lastPointerPosition = { x: pointerPosition.x, y: pointerPosition.y };
			});
			stage.on('touchend', function () {
				canvasPointerPosition.x = parseInt(stage.getPointerPosition().x);
				canvasPointerPosition.y = parseInt(stage.getPointerPosition().y);
				getPositionPointer();
				if (!dragState && pointerPosition.x != -1 && pointerPosition.y != -1 ){
					if ((Math.max(lastPointerPosition.x, emptyPosition.x)-Math.min(lastPointerPosition.x, emptyPosition.x)) 
								+ (Math.max(lastPointerPosition.y, emptyPosition.y)-Math.min(lastPointerPosition.y, emptyPosition.y)) == 1) {
						var dir = "";
						if (lastPointerPosition.x - emptyPosition.x == 1) {
							dir = "right";
						}
						else if (lastPointerPosition.x - emptyPosition.x == -1) {
							dir = "left";
						}
						else if (lastPointerPosition.y - emptyPosition.y == 1) {
							dir = "down";
						}
						else if (lastPointerPosition.y - emptyPosition.y == -1) {
							dir = "up";
						}
						exchange(dir);
					}
				}
				dragState = false;
				imgDrag = false;
				redrawCanvas();
			});
		}

		function resizeCanvas() {
			stage.width(0);
			stage.height(0);
			canvasSize = { x: divCanvas.clientWidth, y: divCanvas.clientHeight };
			stage.width(canvasSize.x);
			stage.height(canvasSize.y);
			canvasCenter = { x: parseInt(canvasSize.x/2), y: parseInt(canvasSize.y/2) };
			canvasMinSize = Math.min(canvasSize.x, canvasSize.y);
			redrawCanvas();
		}

		function redrawCanvas() {
			var strokeWidth = 0.02 * canvasMinSize / nb;
			for (var x=0; x<nb; x++) {
				for (var y=0; y<nb; y++) {
					listImgCropped[x][y].x(x * canvasMinSize / nb + canvasCenter.x);
					listImgCropped[x][y].y(y * canvasMinSize / nb + canvasCenter.y);
					listImgCropped[x][y].width(canvasMinSize / nb - strokeWidth);
					listImgCropped[x][y].height(canvasMinSize / nb - strokeWidth);
					listImgCropped[x][y].offsetX(canvasMinSize / 2);
					listImgCropped[x][y].offsetY(canvasMinSize / 2);
					listImgCropped[x][y].strokeWidth(strokeWidth);
				}
			}
			stage.batchDraw();
		}

		function exchange(direction) {
			var pos = { x: emptyPosition.x, y: emptyPosition.y };
			switch (direction) {
				case "up":
					pos.y = emptyPosition.y - 1;
					break;
				case "down":
					pos.y = emptyPosition.y + 1;
					break;
				case "left":
					pos.x = emptyPosition.x - 1;
					break;
				case "right":
					pos.x = emptyPosition.x + 1;
					break;
				default:
					pos = { x: -1, y: -1 };
					break;
			} // console.log(pos);
			if (0 <= pos.x && pos.x < nb && 0 <= pos.y && pos.y < nb){
				var ex1 = listImgCropped[pos.x][pos.y];
				var ex2 = listImgCropped[emptyPosition.x][emptyPosition.y];
				listImgCropped[pos.x][pos.y] = ex2;
				listImgCropped[emptyPosition.x][emptyPosition.y] = ex1;
				ex1 = listIndexDraw[pos.x][pos.y];
				ex2 = listIndexDraw[emptyPosition.x][emptyPosition.y];
				listIndexDraw[pos.x][pos.y] = ex2;
				listIndexDraw[emptyPosition.x][emptyPosition.y] = ex1;
				emptyPosition = pos;
				if (isOrdered()) {
					labelEtat.innerHTML = "ordonné";
					labelEtat.style["background-color"] = "lightgreen";
				} else {
					labelEtat.innerHTML = "mélangé";
					labelEtat.style["background-color"] = "red";
				}
				nbExchanges ++;
				labelExchanges.innerHTML = nbExchanges;
				redrawCanvas();
			}
		}

		function shuffleDraw(nbPass) {
			if (nbPass < 700) {
				nbPass ++;
				exchange(["up", "down", "left", "right"][parseInt(Math.random()*4)]);
				if (checkboxshuffleDraw.checked) {
					setTimeout("shuffleDraw(" + nbPass + ")", 0);
				} else {
					shuffleDraw(nbPass);
				}
			} else {
				nbExchanges = 0; 
				labelExchanges.innerHTML = nbExchanges;
			}
		}

		function isOrdered() {
			for (var x=0; x<nb; x++) {
				for (var y=0; y<nb; y++) {
					if (listIndexDraw[x][y] != listIndexTrue[x][y]) {
						return false;
					}
				}
			}
			return true;
		}

		function getPositionPointer() {
			var x = canvasPointerPosition.x - parseInt((canvasSize.x - canvasMinSize) / 2);
			var y = canvasPointerPosition.y - parseInt((canvasSize.y - canvasMinSize) / 2);
			pointerPosition = { x: -1, y: -1 };
			if (0 <= x && x <= canvasMinSize && 0 <= y && y <= canvasMinSize) {
				var w = canvasMinSize / nb;
				for (var i=0; i<nb; i++) {
					if (x > i*w) {
						pointerPosition.x = i;
					}
					if (y > i*w) {
						pointerPosition.y = i;
					}
				}
			}
		}


	</script>
</body>
</html>
