{% extends 'index.html' %}

{% block title %}Test DB{% endblock %}

{% block index %}

<div class="container">
	<div class="card" style="padding: 20px;">
		<h5><u>Résultats test_database.py</u></h5><br/>
		{% for line in result.splitlines() %}
		{% if line == "" %}
		<br/>
		{% else %}
		<div>
			{{ line }}
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block indexscript %}{% endblock %}