{% extends 'current/front/base.html' %}

{% block title%}Home page{% endblock %}
{% block content%}

<style type="text/css">
    #divimagebackground1 {
        width:100%;
        height:100vh;
        background-image: url({{ url_for('static', filename='img/imgMaxime/mer.jpg') }});
    }
    #divimagebackground2 {
        width:50vw;
        height:50vh;
        background-size:cover;
        background-image: url({{ url_for('static', filename='img/imgMaxime/surfer.jpg') }});
    }
    #divimagebackground3 {
        width:50vw;
        height:50vh;
        background-size:cover;
        background-image: url({{ url_for('static', filename='img/imgMaxime/bali.jpg') }});
    }
    #divimagebackground4 {
        width:50vw;
        height:50vh;
        background-size:cover;
        background-image: url({{ url_for('static', filename='img/imgMaxime/kite.jpg') }});
    }
    #divimagebackground5 {
        width:50vw;
        height:50vh;
        background-size:cover;
        background-image: url({{ url_for('static', filename='img/imgMaxime/atlantic.jpg') }});
    }
    #divimagebackground6 {
        width:50vw;
        height:50vh;
        background-size:cover;
        background-image: url({{ url_for('static', filename='img/imgMaxime/beach.jpg') }});
    }
    #divimagebackground7 {
        width:50vw;
        height:50vh;
        background-size:cover;
        background-image: url({{ url_for('static', filename='img/imgMaxime/surfer1.jpg') }});
    }
</style>

<div id="divimagebackground1">
    <div style="height:40vh;"></div>
    <h1 class="text-center text-white" style="font-size:3em ;">Le site N°1 du surfer</h1>
</div>
<div style="display:flex; flex-direction:row ; flex-wrap: nowrap;">
    <div class="p-5" style="width: 50vw; height:50vh; background-color:white;">
        <p class="text-center text-black"style="font-size:2em">Rejoignez une communauté de surfers, créez, enregistrez et revivez vos meilleures sessions !</p>
    </div>

    <div id="divimagebackground2"></div>
</div>
<div style="display:flex; flex-direction:row ; flex-wrap: nowrap;">
    <div id="divimagebackground3"></div>
    <div id="divimagebackground4"></div>
</div>
<div style="display:flex; flex-direction:row ; flex-wrap: nowrap;">
    <div id="divimagebackground5"></div>
    <div class="p-5" style="width: 50vw; height:50vh; background-color:white;">
        <p class="text-center text-black"style="font-size:2em">Ajoutez, Notez et Découvrez les spots préférés des utilisateurs. Enregistrez vos meilleurs spots privée uniquement visible par vous-même. </p>
    </div>
</div>
<div style="display:flex; flex-direction:row ; flex-wrap: nowrap;">
    <div id="divimagebackground6"></div>
    <div id="divimagebackground7"></div>
</div>
{% endblock %}