{% extends 'current/front/base.html' %}

{% block title%}Home page{% endblock %}
{% block content%}
<div class="container">
    <h1>Vous y êtes presque ;) !</h1>
    <form>
        <fieldset>
            <legend>Données Personnelles</legend>

            <div class="form-group row">
                <label for="nom">Entrez votre nom</label>
                <input type="text" class="form-control" id="nom" placeholder="nom" required>

            </div>
            <div class="form-group row">
                <label for="prenom">Entrez votre prenom</label>
                <input type="text" class="form-control" id="prenom" placeholder="prenom" required>
            </div>

            <div class="form-group row">
                <label for="adresse"> Entrez votre adresse</label>
                <input type="text" class="form-control" id="adresse" placeholder="3 rue des Lilas" required>
            </div>
            <div class="form-group row">
                <label for="ville"> Entrez votre ville</label>
                <input type="text" class="form-control" id="ville" placeholder="Paris" required>
            </div>
            <div class="form-group row">
                <label for="email"> Entrez votre adresse mail</label>
                <input type="email" class="form-control" id="email" placeholder="exemple@exemple.com" required>


            </div>
            <div class="form-group row">
                <label for="numero_tel"> Entrez votre numéro de téléphone</label>
                <input type="text" class="form-control" id="numero_tel" placeholder="00-00-00-00-00" required>
            </div>
            <div class="form-group row">
                <div aria-required="true">
                    <label for="niveau"> Estimez votre niveau de surf </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="niveau" id="debutant" value="o1">
                        <label class="form-check-label" for="debutant">Debutant</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="niveau" id="normal" value="o2" checked>
                        <label class="form-check-label" for="normal">Normal</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="niveau" id="expert" value="o3">
                        <label class="form-check-label" for="expert">Expert</label>
                    </div>

                </div>

            </div>



        </fieldset>
        <fieldset>
            <legend>Identifiants</legend>
            <div class="form-group row">
                <label for="identifiant">Entrez votre identifiant</label>
                <input type="text" class="form-control" id="identifiant" placeholder="identifiant" required>
            </div>
            <div class="form-group row">
                <label for="mot de passe">Mot de passe</label>
                <input type="password" class="form-control" id="mot de passe" required>
            </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">S'inscrire</button>
    </form>
</div>
{% endblock %}