{% extends 'current/front/base.html' %}

{% block title%}Home page{% endblock %}
{% block content%}
    <form>

        <div class="form-group col-md-12">
            <label>Nom du spot</label>
            <div class="row">
                <div class="form-group col-md-8"><input type="Nom du spot" class="form-control" id="inputEmail4"
                        placeholder="Nom du spot" required="required"></div>
                <div class="form-group col-md-4">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <input type="checkbox" checked autocomplete="on" id="favoritebuttoncheck"
                            style="display: none;">
                        <button type="button" class="btn btn-outline-secondary" id="favoritebutton">Favoris</button>
                    </div>
                </div>
            </div>



            <HR size=10 align=center width="90%">
            <div class="for-row">
                <div class="form-group col-md-12">
                    <div><label for="inputPassword4">Localisation</label></div>
                    <div><button type="button" class="btn btn-link">Map</button required="required"></div>
                </div>
            </div>
            <HR size=10 align=center width="90%">
            <div class="form-group col-md-12">
                <label>Propreté</label>
                <div class="row">
                    <div class="form-group col-md-8"><input id="slide1" type="range" min="0" max="10" step="1" value="5"
                            class="form-control-range"></div>
                    <div class="form-group col-md-2"><span id="titleslide1">5</span></div>
                </div>
            </div>
            <HR size=10 align=center width="90%">
            <fieldset class="form-group col-md-12">
                <div class="row">
                    <legend class="col-form-label col-sm-10">Niveau requis</legend>
                    <div class="col-sm-4">
                        <div class="form-check text-center">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                value="option1">
                            <label class="form-check-label" for="gridRadios1">
                                Débutant
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check text-center">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Intermédiaire
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-check text-center">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                value="option3">
                            <label class="form-check-label" for="gridRadios3">
                                Expert
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <HR size=10 align=center width="90%">
            <fieldset class="form-group col-md-12">
                <div class="row">
                    <legend class="col-form-label col-sm-10">Choix de publication</legend>
                    <div class="col-sm-6">
                        <div class="form-check text-center">
                            <input class="form-check-input" type="radio" name="publicinput" id="publicinput"
                                value="option1">
                            <label class="form-check-label text-center" for="titlepublicinput">
                                Public
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="privateinput" id="privateinput"
                                value="option2">
                            <label class="form-check-label" for="titleprivateinput">
                                Privée
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <HR size=10 align=center width="90%">
            <div class="form-group col-md-12">
                <div class="row">
                    <legend class="col-form-label col-sm-12">Style de vague</legend>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Beachbreak
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Reefbreak
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Shorebreak
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                droite
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                gauche
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <HR size=10 align=center width="90%">
            <div class="row">
                <div class="form-group col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Annuler</button>
                </div>
                <div class="form-group col-md-6 text-left">
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </div>


    </form>

    <!-- Optional JavaScript -->
    <script>
        var slider = document.getElementById("slide1")
        var span = document.getElementById("titleslide1")
        slider.addEventListener("input", function () {
            span.textContent = slider.value;
        })
    </script>
{% endblock %}